<!--The content below is only a placeholder and can be replaced.-->

<input #username (keyup)="ulogin = username.value" type="text">
<input #password (keyup)="plogin = password.value" (keyup.enter)="loginRequest()" type="password">
<input #password2 (keyup)="plogin2 = password.value"  type="password">

<button (click)="loginRequest()">login</button>
<button (click)="createAccount()">create</button>

<h1 *ngIf="nonMatchingPass">Passwords Dont Match</h1>

<h1>{{ accountInfo.email }}</h1>
<h1>{{ accountInfo.firstname }}</h1>
<h1>{{ accountInfo.lastname }}</h1>